@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --background-hex: #ffffff;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --blured: #ffffffdc;
    --blured-foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --background-hex: #020817;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --blured: #020817cc;
    --blured-foreground: 210 40% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}

.hashnode-content-style {
  @apply prose break-words  lg:prose-xl dark:prose-invert first:prose-h1:mt-0 first:prose-h2:mt-0 first:prose-h3:mt-0 first:prose-h4:mt-0 first:prose-h5:mt-0 prose-p:leading-snug first:prose-p:mt-0 prose-a:leading-snug prose-a:underline hover:prose-a:bg-primary prose-blockquote:leading-snug prose-figure:leading-snug prose-figcaption:leading-snug prose-pre:leading-snug prose-ol:leading-snug prose-ul:leading-snug prose-li:leading-snug prose-th:leading-snug prose-td:leading-snug prose-img:max-w-full prose-img:rounded dark:hover:prose-a:text-primary;
}

/* Override to remove the backtick */
.hashnode-content-style :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *))::before,
.hashnode-content-style :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *))::after {
  content: none;
}

.prose code {
  border-radius: 0.25rem;
  font-weight: 400 !important;
  padding: 0.25rem;
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
  font-size: 80%;
  background: #f0efed;
}

.dark .prose code {
  --tw-bg-opacity: 1;
  background-color: rgba(36, 41, 46, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(238, 238, 238, var(--tw-text-opacity));
}

.prose pre {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.prose pre code {
  background-color: transparent;
  border-radius: 0px;
  font-weight: 500 !important;
  padding: 0px;
  font-size: 100%;
  color: #fafafa;
}

.dark .prose pre code {
  background-color: transparent;
  color: #ddd;
}

.gradient-bg {
  background: rgb(174, 238, 233);
  background: radial-gradient(circle, rgba(174, 238, 233, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
