.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-inline: 20px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  max-width: 320px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  filter: blur(4px);
  background: #d1ebff;
  border-radius: 10px;
}

.swiper-slide-active {
  filter: blur(0px);
  background: #ffffff;
}

@media screen and (min-width: 520px) {
  .swiper {
    padding-inline: 0;
  }
}
