@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-bg {
  background: rgb(174, 238, 233);
  background: radial-gradient(circle, rgba(174, 238, 233, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
